C/Exo/Miniprojet/TP1_Partie_sur_PC/morse_pc/build
C/Exo/Calculatrice/build
C/Exo/Calculatrice/.vscode
C/Exo/Calculatrice2/build
C/Exo/Extern/build
C/Exo/Carnet/build
C/Exo/System/build
C/Exo/Structures/build
C/Exo/Structures2/build
C/Exo/VariableArgs/build
C/Exo/Pendu/build
C/Exo/Triage/build
C/Exo/Triage/build
C/Exo/STM32F103RB/PlatformIO/Blink/.pio/build
C/Exo/STM32F103RB/PlatformIO/TestBlink/build
C/Exo/STM32F103RB/Keil/BlinkLED/Objects
C/Exo/Tests/SaltInBank/build
ADA/Exo/Exercice1/obj